__pycache__/

migrations/

secrets/

*.sqlite3

api-gateway/gate-venv
api-gateway/.env

microservices/user-service/user-venv
microservices/user-service/.env

microservices/db-operations-service/db-ops-venv
microservices/db-operations-service/.env

microservices/analytics-service/anal-venv
microservices/analytics-service/.env
api-gateway/.env

microservices/analytics-service/celerybeat-schedule
microservices/db-operations-service/celerybeat-schedule
api-gateway/.env
exported_tables/2025-12-26/база.xlsx



api-gateway/.env
