
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    width: 100%;
    height: 100%;
}



body {

    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    
    font-size: 16px;
    line-height: 1.5;
    color: #333; 
}


h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 700;
}